<section class="field">
    <h2 class = "field-header">Today's Jobs</h2>
    <a href="jobleader/{{job.$id}}" class="field-list" ng-repeat="job in spk.jobList">
        <p class="field-list-name">{{::job.client.fullname}}</p>
        <p class="field-list-street">{{::job.client.street}}</p>
        <p class="field-list-location">{{::job.client.city}}, {{::job.client.state.abbreviation}}</p>
        <p class="field-list-job">{{::job.service.service}}:  <span class="field-list-job-note">{{::job.note}}</span></p>
    </a>
</section>