<section home-responsive-bg class="home-hero">
     <h2 class="home-hero-lede">The Job Isn't Done Until It's Done</h2>
 </section>
    <section class="home-branding-what">
        <div class="home-branding-what-hassle">Making sure your landscaping job <span class="home-bold">moves from finished to done</span> should not be an exercise in pain and frustration.</div>
        <div class="home-branding-what-who">As the fellow owners of a landscaping company, <span class="home-bold">we fight the same battles you do</span> trying to finish the day to day office work and logistics.</div>
        <div class="home-branding-what-solve">So we created NickoLogistics: <span class="home-bold">getting a job to done</span> should not be more difficult than using one website!</div>
    </section>
    <section class="home-convert">
        <a href="signup" class="home-convert-item">Sign Up: Create Account</a>
        <a href="login" class="home-convert-item">Log In: Your Account</a>
    </section>
    <section class="home-branding-why"><h2>NICKOLOGISTICS: WHY</h2><br><p>Bacon ipsum dolor amet pork loin rump flank, biltong andouille tongue filet mignon spare ribs meatloaf drumstick hamburger pig ball tip pork. Jerky kielbasa beef ribs pancetta chuck filet mignon. Cow bresaola boudin pork chop kevin kielbasa. Leberkas bresaola sausage shoulder, ball tip kevin ham hock picanha corned beef landjaeger swine frankfurter shankle pork tenderloin. Pancetta kielbasa short loin hamburger boudin t-bone salami tri-tip alcatra. Ground round meatloaf meatball cow.</p></section>
    <section class="home-branding-how"><h2>NICKOLOGISTICS: HOW</h2><br><p>Bacon ipsum dolor amet pork loin rump flank, biltong andouille tongue filet mignon spare ribs meatloaf drumstick hamburger pig ball tip pork. Jerky kielbasa beef ribs pancetta chuck filet mignon. Cow bresaola boudin pork chop kevin kielbasa. Leberkas bresaola sausage shoulder, ball tip kevin ham hock picanha corned beef landjaeger swine frankfurter shankle pork tenderloin. Pancetta kielbasa short loin hamburger boudin t-bone salami tri-tip alcatra. Ground round meatloaf meatball cow.</p></section>