.field {
    @include span(12 wide of 12 no-gutters);
    margin-top: rhythm(4, 16px);
    padding: 0 span(1 of 12);
    &-header {
        @extend %dash-create-header;
    }
    &-content {
        @include span(12 wide of 12 no-gutters);
        margin: 0 0 rhythm(2, 16px) 0;
        @extend %t-small;
        text-align: center;
        color: setcolor(black, lighter);
    }
    &-list {
        @include span(12 wide of 12 no-gutters);
        padding: rhythm(.5, 16px) 0;
        color: setcolor(black);
        text-decoration: none;
        border-bottom: .1em solid setcolor(teal);
        &:first-of-type {
            border-top: .1em solid setcolor(teal);
        }
        &-name{
            @extend %dash-content-item-sub-type;
            margin-bottom: rhythm(1, 16px);
            &:before {
                content: "Customer";
            }
        }
        &-street {
            @extend %dash-content-item-sub-type;
            margin-bottom: 0px;
            &:before {
                content: "Location";
            }
        }
        &-location {
            // @extend %dash-content-item-sub-type;
            margin-bottom: rhythm(1, 16px);
        }
        &-job {
            @extend %dash-content-item-sub-type;
            &:before {
                content: "Job";
            }
            &-note {
                @extend %t-small;
                color: setcolor(black, lighter);
            }
        }
    }
    &-button {
        &-begin{
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @include span(12 wide of 12 no-gutters);
            margin-bottom: rhythm(3, 16px);
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
        &-end {
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @include span(12 wide of 12 no-gutters);
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
    }
}