.field {
    margin-top: rhythm(6, 16px);
    padding: 0 span(1 of 12);
    &-button {
        &-begin{
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            margin-bottom: rhythm(3, 16px);
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
        &-end {
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
    }
}