.field {
    @include span(12 wide of 12 no-gutters);
    margin-top: rhythm(4, 16px);
    padding: 0 span(1 of 12);
    &-header {
        @extend %dash-create-header;
        margin: 0 0 rhythm(.75, 15px);
    }
    &-list {
        @include span(12 wide of 12 no-gutters);
        padding: rhythm(.5, 16px) 0;
        color: setcolor(black);
        text-decoration: none;
        border-bottom: .1em solid setcolor(teal);
        &:first-of-type {
            border-top: .1em solid setcolor(teal);
        }
        &-name{}
        &-street {
            @extend %t-small;
            margin-bottom: 0px;
            padding-left: span(.5 of 12);
            color: setcolor(black, lighter);
        }
        &-location {
            @extend %t-small;
            padding-left: span(.5 of 12);
            color: setcolor(black, lighter);
            margin-bottom: rhythm(.5, 16px);
        }
        &-job {
            &-note {
                @extend %t-small;
                color: setcolor(black, lighter);
            }
        }
    }
    &-button {
        &-begin{
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @include span(12 wide of 12 no-gutters);
            margin-bottom: rhythm(3, 16px);
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
        &-end {
            @extend %button-basics;
            @extend %button-lifter;
            @extend %no-focus-outline;
            @include span(12 wide of 12 no-gutters);
            &:focus {
                background: rgba(setcolor(green), .25);
            }
            &:active {
                @include expando-hover(green, base, .25);
            }
        }
    }
}